<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.knaap.bloom"
    android:versionCode="5"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk android:minSdkVersion="26"/>
    <application
        android:debuggable="false"
        android:label="Bloom"
        android:icon="@drawable/ic_launcher"
        package="fi.knaap.bloom" >
        <uses-library android:name="android.test.runner" />

        <service
            android:label="Bloom"
            android:name=".BloomService"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter >
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:label="Bloom"
            android:name=".preferences.Preferences"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <instrumentation
        android:label="Tests for My App"
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="fi.knaap.bloom.control.test" />

</manifest>
